@media only screen and (max-width: 1281px) and (min-height: 601px) {
  .welcome {
    background-size: cover;
    position: relative; }
  .vertical-navbar .vertical-navbar__logo {
    margin-bottom: 27px; }
    .vertical-navbar .vertical-navbar__logo img {
      margin-left: 19px; }
  .vertical-navbar .vertical-navbar__nav .nav__item a {
    line-height: 33px;
    font-family: "OfficinaSerifBold";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-left: -3px;
    height: 33px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .vertical-navbar .vertical-navbar__nav .nav__item a::before {
      content: "";
      width: 7px;
      height: 22px;
      float: left;
      margin-right: 20px;
      background-image: url("../../images/nav-arrow.png");
      background-position: center center;
      background-repeat: no-repeat; }
    .vertical-navbar .vertical-navbar__nav .nav__item a:hover {
      font-size: 25px;
      font-weight: 400;
      line-height: 33px; }
      .vertical-navbar .vertical-navbar__nav .nav__item a:hover::before {
        width: 17px;
        height: 26px;
        background-image: url("../../images/nav-arrow_hover.png"); }
  .vertical-navbar .vertical-navbar__nav .nav__item_current a {
    font-size: 25px;
    font-weight: 400;
    line-height: 33px; }
    .vertical-navbar .vertical-navbar__nav .nav__item_current a::before {
      width: 17px;
      height: 26px;
      background-image: url("../../images/nav-arrow_hover.png"); }
  .vertical-navbar .vertical-navbar__subscribe {
    margin-bottom: 20px;
    margin-left: 20px; }
    .vertical-navbar .vertical-navbar__subscribe button {
      background-color: transparent;
      border: 0;
      color: #fcfdff;
      font-family: "OpenSansItalic";
      font-size: 13px;
      font-style: italic;
      color: #fcfdff;
      line-height: 33px; }
  .vertical-navbar .vertical-navbar__adt {
    margin-bottom: 95px;
    margin-left: 20px; }
    .vertical-navbar .vertical-navbar__adt .adt__caption h4 {
      color: #fcfdff;
      font-family: "OpenSansBold";
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      margin: 0;
      display: inline-block; }
      .vertical-navbar .vertical-navbar__adt .adt__caption h4 span {
        display: block; }
    .vertical-navbar .vertical-navbar__adt .adt__caption i.adt__important {
      font-style: normal;
      margin-top: -2px;
      display: block;
      color: #bf213f;
      font-family: "OfficinaSerifBold";
      font-size: 50px;
      font-weight: 400;
      line-height: 41px;
      float: right;
      margin-right: 65px; }
  .vertical-navbar .vertical-navbar__bonuses {
    margin-right: 60px; }
    .vertical-navbar .vertical-navbar__bonuses a {
      display: block;
      background-color: #122d4f;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      color: #fcfdff;
      font-family: "OpenSansBold";
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      text-transform: uppercase;
      border: 0;
      width: 100%;
      padding: 10px 8px 10px 46px;
      background-image: url("../../images/bonuses.png");
      background-repeat: no-repeat;
      background-position: left 11px center;
      height: 38px;
      text-decoration: none;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 217px;
      white-space: nowrap; }
      .vertical-navbar .vertical-navbar__bonuses a:hover {
        background-color: #c60634; }
      .vertical-navbar .vertical-navbar__bonuses a:focus {
        outline: 0; }
  .welcome__content {
    position: relative; }
    .welcome__content .welcome__headline {
      margin-top: 48px;
      margin-left: -55px; }
      .welcome__content .welcome__headline h1 {
        color: #fce22c;
        font-family: "OfficinaSerifBold";
        font-size: 33px;
        font-weight: 400;
        line-height: 33px;
        margin: 0; }
    .welcome__content .banner__caption {
      margin-top: -188px;
      margin-left: -59px;
      position: relative;
      z-index: 9999;
      width: 170px;
      cursor: pointer; }
      .welcome__content .banner__caption h2 {
        color: #fce22c;
        font-family: "OfficinaSerifBold";
        font-weight: 400;
        line-height: 56px;
        font-size: 165px;
        margin: 0;
        display: inline-block; }
        .welcome__content .banner__caption h2 span {
          font-size: 56px;
          display: block;
          margin-top: 35px; }
      .welcome__content .banner__caption::after {
        content: "";
        display: block;
        width: 44px;
        height: 44px;
        background-color: #bf213f;
        position: absolute;
        left: 224px;
        bottom: 8px; }
    .welcome__content .banner__image {
      text-align: center;
      margin-left: 60px;
      margin-top: 20px;
      position: relative;
      z-index: 99; }
      .welcome__content .banner__image img {
        width: 635px;
        height: 530px; }
  .welcome__info {
    margin-top: 15px;
    position: absolute;
    width: 100%;
    z-index: 9999;
    display: none; }
    .welcome__info p {
      color: #fcfdff;
      font-size: 15px;
      line-height: 17px;
      font-family: "OfficinaSerifBook";
      font-style: italic; }
  .user__actions {
    float: right;
    position: relative;
    z-index: 9999;
    margin-top: -45px;
    margin-right: 45px; }
    .user__actions .actions__caption {
      float: left;
      margin-right: 50px;
      -webkit-animation-delay: 5s;
      -moz-animation-delay: 5s;
      animation-delay: 5s; }
      .user__actions .actions__caption p {
        font-family: "OpenSansBold";
        font-weight: 700;
        line-height: 17px;
        color: #fce22c;
        font-size: 25px;
        margin: 0; }
        .user__actions .actions__caption p span {
          color: #fcfdff;
          font-size: 17px;
          display: block; }
    .user__actions .action__link {
      float: left;
      padding-top: 6px;
      -webkit-animation-delay: 5s;
      -moz-animation-delay: 5s;
      animation-delay: 5s;
      margin-right: 25px;
      max-width: 265px; }
      .user__actions .action__link a {
        color: #fcfdff;
        font-family: "OfficinaSerifBold";
        font-size: 25px;
        font-weight: 400;
        line-height: 33px;
        margin-right: 27px;
        text-decoration: none;
        display: block;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        .user__actions .action__link a .icon::before {
          content: "";
          width: 13px;
          display: inline-block;
          height: 13px;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../../images/icon-link.png"); }
        .user__actions .action__link a:hover .icon::before {
          background-image: url("../../images/icon-link_hover.png"); }
  .info {
    background-size: cover;
    padding-top: 129px; }
    .info .container {
      position: relative; }
  .info__headline {
    margin-bottom: 28px;
    text-align: center;
    margin-left: -59px; }
    .info__headline h3 {
      color: #fcfdff;
      font-family: "OfficinaSerifBold";
      font-size: 25px;
      font-weight: 400;
      line-height: 13px;
      margin: 0; }
  .info__subheadline {
    background-color: #bf213f;
    padding: 11px 0 9px 85px;
    margin-bottom: 12px;
    margin-left: -83px;
    position: relative;
    z-index: 99; }
    .info__subheadline h3 {
      line-height: 17px;
      color: #fcfdff;
      font-size: 17px;
      font-style: italic;
      font-family: "OfficinaSerifBookItalic";
      margin: 0; }
      .info__subheadline h3 span {
        font-family: "OfficinaSerifBold";
        font-size: 25px;
        font-weight: 400;
        font-style: normal; }
  .info__content {
    color: #fcfdff;
    line-height: 17px; }
    .info__content .info__banner {
      position: relative;
      z-index: 999;
      margin-left: -41px; }
    .info__content .info__caption ul {
      padding: 0;
      margin: 0;
      font-family: "OfficinaSerifBookItalic";
      font-size: 15px;
      font-style: italic;
      margin-bottom: 20px;
      list-style: none; }
      .info__content .info__caption ul li::before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background-color: #fcfdff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        float: left;
        margin: 4px 10px 0 2px; }
    .info__content .info__caption p {
      margin: 0;
      padding: 0;
      font-family: "OfficinaSerifBookItalic";
      font-size: 15px;
      font-style: italic; }
  .info__additionally {
    margin-top: 26px; }
    .info__additionally ul {
      list-style: none;
      margin: 0;
      padding: 0;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      margin-left: 185px; }
      .info__additionally ul li a {
        color: #fce22c;
        font-family: "OfficinaSerifBold";
        font-size: 21px;
        font-weight: 400;
        line-height: 33px;
        text-decoration: none; }
    .info__additionally .icon::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      float: left;
      margin: 5px 15px 0;
      background-repeat: no-repeat;
      background-position: center center; }
  #requestModal {
    background-color: transparent !important;
    padding: 25px 0;
    overflow-x: hidden; }
    #requestModal .close {
      margin-right: 0; }
  .questionary .slimScrollDiv {
    height: 385px !important; }
  .questionary .questionary__content-scroll {
    height: 385px !important;
    padding-right: 50px; }
  .request__headline {
    margin-bottom: 50px; }
    .request__headline .headline__title {
      text-align: right; }
      .request__headline .headline__title p {
        color: #fdfdfc;
        font-family: "OfficinaSerifBold";
        font-size: 20px;
        font-weight: 400;
        line-height: 16px;
        margin: 0 -18px 25px 0; }
      .request__headline .headline__title h4 {
        color: #ffe300;
        font-family: "OfficinaSerifBold";
        font-size: 115px;
        font-weight: 400;
        line-height: 8px;
        margin: 0; }
    .request__headline .headline__content {
      padding: 22px 35px 0 35px;
      text-align: center; }
      .request__headline .headline__content p {
        color: #4aa3b7;
        font-family: "OpenSansSemiBold";
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin: 0; }
        .request__headline .headline__content p span {
          display: block; }
    .request__headline .headline__logo {
      text-align: center; }
  .divider {
    height: 5px;
    background-color: #fff;
    margin-bottom: 25px;
    margin: 25px 15px 0; }
  .user-photo__area {
    height: 290px;
    margin-bottom: 20px; }
  #bonusesModal {
    background-color: transparent !important;
    padding: 95px 0 0; }
  .bonusesModal-on {
    z-index: 9999 !important; }
  .bonuses {
    padding: 0 35px; }
    .bonuses .bonuses__headline .headline__offset_right {
      float: right; }
    .bonuses .bonuses__headline h4 {
      color: #fcfdff;
      font-family: "OpenSansBold";
      line-height: 15px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      margin: 0; }
    .bonuses .bonuses__headline a {
      color: #fcfdff;
      font-size: 8px;
      font-weight: 600;
      font-family: "OpenSansSemiBold";
      line-height: 15px;
      text-transform: uppercase; } }
